
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin:19px;
    padding:0;
    box-sizing:border-box;
    
    font-family:'Poppins' ,sans-serif;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    
    font-size:15px;
    line-height:1.6em;
    /*background-color:#655e88;*/
}
progress {
    border: 1px solid #0f0b27;
    width: 400px;
    height: 10px;
    background: crimson;
  }
  
  progress {
    color: lightblue;
  }
  
  progress::-webkit-progress-value {
    background: lightblue;
  }
  
  progress::-moz-progress-bar {
    background: lightcolor;
  }
  
  progress::-webkit-progress-value {
    background: red;
  }
  
  progress::-webkit-progress-bar {
    background: lightblue;
  }
progress#progressBar
{   margin:25px;
    display: flex;
    color:#0f0b27;
    width: 717px;
}
li{ 
   margin:19px;
    
}
ul.choices{margin:0px;
list-style: none;
}
strong{
    margin:0px;
}
form{
    margin:0px;
}
input{padding:6px;
    margin:0px;
    color:rgb(255, 255, 255);
    background-color: rgb(255, 35, 71);;
}
.inp{
    padding:6px;
    margin:0px;
    color:rgb(255, 255, 255);
    background-color: rgb(255, 35, 71);;
    float:right;
    margin-bottom: 10px;
}
a{
    text-decoration:none;
}

label{
    display:inline-block;
    width:180px;
}

input[type='text']{
    width:97%;
    padding:4px;
    border-radius:5px;
    border: 1px solid #ccc;
   
}

input[type='number']{
    width:50px;
    padding:4px;
    border-radius:5px;
    border: 1px solid #ccc;
   
}
h2{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items:center;
    padding :12px;
    font-size: 20px;
    font-weight:600;
}
h1{
    position: relative;
    z-index: 2;
    height:70px;
    padding: 0 30px;
    background: #fff;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

#container{
    background: #cde2ab;
    margin: 50px auto;
    overflow:auto;
    width:60%;
    
}
.container1{
    text-align: center;
    
    
}
.question
{
    color: rgb(10, 10, 95);
    font-weight: 700;
    padding:10px;
    background:#f4f4f4;
    border:#ccc dotted 1px;
     margin:20px 0 10px 0;
}
.scrs{
  
   width:100px;
   height: 30px;
    background-color: #8c3fca;
    color:rgb(255, 255, 255);
    padding-top: 2px;
    font-weight: 400;
    text-align : center;
}
header {
    border-bottom:3px solid #f4f4f4 solid;
}

footer{
    border-top:3px #f4f4f4 solid;
    text-align:center;
    padding-top:5px;

}

main{
    padding-bottom:20px;
}

a.start{
    display:inline-block;
    color:rgb(255, 255, 255);
    background-color: rgb(255, 35, 71);
    border:1px dotted #ccc;
    border-radius: 5px;
    padding:6px;
}
a.start:hover{
    color: #fff;
    background: #090b29;
    
}
input:hover{
    color: #fff;
    background: #090b29;
}
.current{
   /* padding:10px;
    background:#f4f4f4;
    border:#ccc dotted 1px;
     margin:20px 0 10px 0;*/
}

@media only screen and (max-width:960px){
    .container{
	width:80%;
    }
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 50px);
 }